*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    position: relative;
    height: 430px;
    width: 380px;
    
}
#container img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    border: 2px solid black;
}
#container i{
    color: red;
    font-size: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(0);
    transition: transform ease 0.4s;
}